main {
    
}

.div-perfil {
    display: flex;
    align-items: center;
}
.div-perfil-foto, .div-perfil-text {
    padding: 3em;
}

.container-perfil {
    text-align: center;
}

.imagemUsuario {
    border-radius: 100%;
    width: 150px;
    border: solid 3px var(--amarelo);
}

.container-perfil button {
    margin: 0.5em;
}

.linha-horizontal-laranja {
    padding-top: 1em;
}

.imagemProfessor {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    border: solid 2px var(--amarelo);
}