/* CSS para configurações gerais. Obs o modo principal é o escuro */

/* Importa fontes google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Questrial&display=swap');

/* Cria variáveis com cores e fontes */
:root {
    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-corpo: 'Questrial', sans-serif;

    --preto: #0F0F0F;
    --grafite: #272829;
    --off-white: #FFFFDE;
    --lilas: #BA94D1;
    --amarelo: #F1C93B;
    --laranja: #E25E3E;
}

/* Configurações básicas */

body {
    font-family: var(--fonte-corpo);
    color: var(--off-white);
    font-weight: 600;
    margin: 0;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: var(--grafite);
    padding: 2em;
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
button {
    font-family: var(--fonte-titulo);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--lilas);
}

a:hover {
    color: var(--amarelo);
}

form, .container-info {
    display: flex;
    flex-direction: column;
}

button a:hover,
button a {
    color: var(--preto);
}

button {
    border-radius: 100px;
    padding: 0.3em 0.5em;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 0.75em;
    margin-top: 1em;
    background-color: var(--lilas);
}

button:hover {
    background-color: var(--amarelo);
}

input,
select {
    border-radius: 100px;
    border: none;
    font-family: var(--fonte-corpo);
    margin: 1em 0;
    padding: 0.75em;
    background-color: var(--off-white);
}

.icone-lua {
    display: none;
}

.logo-claro {
    display: none;
}

.fonte-leve {
    font-weight: 400;
}

/* 
.
.
.
.
MODO CLARO
.
.
.
.
*/
.modo-claro {
    background-color: var(--off-white);
    color: var(--preto);
}

.modo-claro .icone-lua {
    display: block;
}

.modo-claro .icone-sol {
    display: none;
}

.modo-btn {
    width: auto;
    padding: 5px 6px;
    margin: 0.5em;
}

.modo {
    display: flex;
    justify-content: end;
}

.container-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modo-claro a {
    text-decoration: none;
    color: var(--preto);
}

.modo-claro a:hover {
    color: var(--laranja);
}

.modo-claro button a:hover {
    color: var(--preto);
}

.modo-claro button:hover {
    background-color: var(--laranja);
}
.modo-claro main {
    background-color: var(--amarelo);
}