.container-tabela-materiais {
    display: flex;
    justify-content: center;
}


table {
    border-radius: 10px;
    font-family: var(--fonte-corpo);
    color: var(--off-white);
    margin: 1em;
    /* padding: 3em; */
}

th {
    background-color: var(--laranja);
    padding: 0.75em;
}

.th-direita {
    border-radius: 0 10px 0 0;
}

.th-esquerda {
    border-radius: 10px 0 0 0;
}

td {
    background-color: var(--cinza);
    border-radius: 0 0 10px 10px;
    padding: 0.75em;
}